install/
src/generated/
src/[d|D]ebug/
src/[r|R]elease/
src/moc_*
src/qrc_*
src/eProDrums
*.obj
*.o
*.swp
*.opensdf
*.sdf
*ui_*
*.pdb
*.suo
*.sln
*.vcxproj*
*Makefile*
*.exe
*.ipch
*.idb
*.qhc
*.qch
tags
